*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#auth-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FCF8CA;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3px 70px;
    z-index: 99;
    background: #fff;
    

}

.logo img{
    height: auto;
    width: 160px;
    max-width: 100%;
}

.wrapper-register{
    position: relative;
    width: 400px;
    height: 550px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    top:35px;

}

.wrapper-register .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper-register .form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
    margin-bottom: 5px;
}

.wrapper-register .form-box p{
    font-size: .8em;
    color: #333333AD;
    text-align: center;
}

.wrapper-register .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 10px 0;
}

.wrapper-register .input-box label{
    position: absolute;
    top:20px;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.wrapper-register .input-box input:focus~label,
.wrapper-register .input-box input:valid~label{
    top: -5px;
}

.wrapper-register .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.wrapper-register .input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.wrapper-register .remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.wrapper-register .remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;

}

.wrapper-register .remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.wrapper-register .remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper-register button{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .9em;
    font-weight: 700;
    margin-bottom: 7px;
}

.wrapper-register .btn-login{
    background: #3ECF4C;
    color: #fff;
}

.wrapper-register .btn-register{
    background: #E2FCD9CC;
    color: #3ECF4C;
}

.wrapper-register button.btn-login-google{
    background: #fff;
    color: #252525ad;
    border: 1px solid #F1F1F1;
}



.wrapper-register button.btn-login-google span.icon{
    color:red;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 10px;
    position: relative;
    top:3px;
    left:-7px;
}

@media(max-width:700px){
    
    .wrapper-register{
        width: 300px;
        height: 500px;
        background: #fff;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }

    .wrapper-register .form-box h2{
        font-size: 1.3em;
    }
    
    .wrapper-register .form-box p{
        font-size: .5em;
    }

    .wrapper-register .input-box{
        height: 40px;
    }
    
    .wrapper-register .input-box label{
        font-size: .8em;
    }

    .wrapper-register .input-box input{
        font-size: .8em;
    }
    
    .wrapper-register .input-box .icon{
        font-size: 1em;
        line-height: 45px;
    }


    .wrapper-register .remember-forgot{
        font-size: .8em;
    }

    .wrapper-register button{
        
        height: 30px;
        
        font-size: .8em;
        
    }
    
   
    



}


